*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
#navbar1{
    height: 60px;
    width: 100%;
    border: 1px solid white;
    background-color: black;
}
#navbar1>input{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 14px;
    left: 300px;
    height: 30px;
    width: 800px;
    border-radius: 5px;
}
#navbar1>input:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
#navbar1>img{
    position: absolute;
    top: 20px;
    width: 100px;
    left: 40px;
}
#navbar1+img{
    height: 300px;
    width: 300px;
    left: 100px;
}

#navbar2{
    height: 60px;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(19, 19, 63, 0.418);
    position: relative;
    top: 28px;
}
#navbar2>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    color: ghostwhite;
}
#navbar2>ul>li:hover{
    color: chartreuse;
    cursor: pointer;
}
#video1{
    width: 100%;
    position: relative;
    top: 28px;
}
#icon1{
    color: white;
    position: absolute;
    left: 1160px;
    top: 25px;
}
#icon2{
    color: white;
    position: absolute;
    left: 1220px;
    top: 25px;
}
#icon3{
    color: white;
    position: absolute;
    left: 1280px;
    top: 25px;
}
i:hover{
    transform: scale(1.5,1.5);
    cursor: pointer;
}
#quotes1{
    font-weight: bolder;
    position: absolute;
    top: 250px;
    left: 30%;
    font-size: 65px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-shadow: 6px 6px 5px #000;
}
#quotes2{
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 35%;
    font-size: medium;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-shadow: 6px 6px 5px #000;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: chartreuse;
}
